*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/**
*
* Sample css
*
**/

.container {
  width: 400px;
  height: 600px;
  overflow-y: scroll;
  background: #eee;
  margin: 10px auto 0;
}

.content {
  position:  relative;
  height: 800px;
}

.loader {
  position: absolute;
  bottom: 100px;
  width: 100%;
  text-align: center;
}